.App {
  text-align: left;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start-left;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  user-select: none;
}

.center-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px 20px 20px;
  overflow: hidden;
}

.form label {
  margin-bottom: 10px;
}

input[type="text"].disabled {
  color: white;
  opacity: 0.6;
  cursor: no-drop; /* drag item cannot be dropped, no cursor is rendered for the element */
}

.App-link {
  color: #61dafb;
}
